In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
TOP_300_URI = 'https://clincalc.com/DrugStats/Top300Drugs.aspx'

In [3]:
page = requests.get(TOP_300_URI)
soup = BeautifulSoup(page.content, 'html.parser')

In [22]:

top_treatments = {}

table = soup.find('table', attrs={'id':'tableTopDrugs'})
table_body = table.find('tbody')
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    cols = [ele for ele in cols if ele] # Get rid of empty values
    if len(cols) == 5:
        _, treatment, no_prescriptions, _, _ = cols 
        no_prescriptions = int(no_prescriptions.replace(',', ''))

        aliases =  treatment.split(';')
        if len(aliases) > 1:
            [top_treatments.update({alias : no_prescriptions}) for alias in aliases]
        else:
            top_treatments.update({treatment : no_prescriptions})

In [5]:
top_treatments

{'Atorvastatin': 114509814,
 'Levothyroxine': 98970640,
 'Metformin': 3847462,
 'Lisinopril': 88597017,
 'Amlodipine': 3434363,
 'Metoprolol': 66413692,
 'Albuterol': 3967936,
 'Omeprazole': 56300064,
 'Losartan': 54815411,
 'Gabapentin': 49961066,
 'Hydrochlorothiazide': 1263816,
 'Sertraline': 38219814,
 'Simvastatin': 36600871,
 'Montelukast': 31984479,
 'Escitalopram': 30605646,
 'Acetaminophen': 2396592,
 ' Hydrocodone': 30100356,
 'Rosuvastatin': 29750488,
 'Bupropion': 28889368,
 'Furosemide': 26786296,
 'Pantoprazole': 26604040,
 'Trazodone': 26210731,
 'Dextroamphetamine': 26080151,
 ' Dextroamphetamine Saccharate': 26080151,
 ' Amphetamine': 26080151,
 ' Amphetamine Aspartate': 26080151,
 'Fluticasone': 2125887,
 'Tamsulosin': 24692402,
 'Fluoxetine': 23403050,
 'Carvedilol': 23159628,
 'Duloxetine': 22546920,
 'Meloxicam': 19808581,
 'Clopidogrel': 19377527,
 'Prednisone': 19044926,
 'Citalopram': 18549176,
 'Insulin Glargine': 17973209,
 'Potassium Chloride': 17811732,
 'Pravastatin': 17549151,
 'Tramadol': 17475419,
 'Aspirin': 17287372,
 'Alprazolam': 16780805,
 'Ibuprofen': 16533209,
 'Cyclobenzaprine': 16151696,
 'Amoxicillin': 6086124,
 'Methylphenidate': 15449350,
 'Allopurinol': 15303283,
 'Venlafaxine': 15022423,
 'Clonazepam': 14758212,
 'Ethinyl Estradiol': 2540913,
 ' Norethindrone': 14716809,
 'Ergocalciferol': 14670983,
 'Zolpidem': 14272253,
 'Apixaban': 13918650,
 'Glipizide': 13674142,
 ' Lisinopril': 13559563,
 'Spironolactone': 13354566,
 'Cetirizine': 13125543,
 'Atenolol': 12860512,
 'Oxycodone': 12289518,
 'Buspirone': 11820023,
 ' Salmeterol': 11577409,
 'Topiramate': 11482269,
 'Warfarin': 11467999,
 'Estradiol': 11307655,
 'Cholecalciferol': 11115876,
 'Budesonide': 2337016,
 ' Formoterol': 11114689,
 'Lamotrigine': 10801628,
 ' Norgestimate': 10686537,
 'Quetiapine': 10574791,
 'Lorazepam': 10559374,
 'Famotidine': 10441964,
 'Folic Acid': 10334172,
 'Azithromycin': 10155807,
 ' Oxycodone': 10086467,
 'Hydroxyzine': 10058837,
 'Insulin Lispro': 10013738,
 'Diclofenac': 9926749,
 'Loratadine': 9914365,
 'Sitagliptin': 9885657,
 'Clonidine': 9867546,
 'Diltiazem': 9787088,
 'Latanoprost': 9722630,
 'Pregabalin': 9227867,
 'Doxycycline': 9152604,
 'Insulin Aspart': 9124642,
 'Amitriptyline': 9083401,
 'Paroxetine': 9029667,
 'Ondansetron': 8773584,
 'Tizanidine': 8705644,
 'Lisdexamfetamine': 8647783,
 'Rivaroxaban': 8644837,
 'Glimepiride': 8566883,
 'Propranolol': 8470628,
 'Aripiprazole': 8267949,
 'Finasteride': 8185106,
 'Naproxen': 8184638,
 'Levetiracetam': 7967535,
 ' Losartan': 7948927,
 'Alendronate': 7923120,
 'Fenofibrate': 7668856,
 'Dulaglutide': 7657320,
 'Oxybutynin': 7098461,
 'Celecoxib': 7089211,
 'Lovastatin': 7033634,
 'Ezetimibe': 7029302,
 'Cephalexin': 7011968,
 'Empagliflozin': 1891719,
 'Hydralazine': 6663220,
 'Mirtazapine': 6601131,
 'Cyanocobalamin': 6596311,
 'Triamcinolone': 6422561,
 ' Clavulanate': 6086124,
 'Baclofen': 6009146,
 'Valproate': 6000123,
 'Tiotropium': 5933058,
 'Sumatriptan': 5915272,
 'Donepezil': 5899553,
 'Methotrexate': 5824013,
 'Isosorbide': 5795198,
 ' Vilanterol': 1668008,
 'Ferrous Sulfate': 5652902,
 'Thyroid': 5625456,
 'Valacyclovir': 5466726,
 'Desogestrel': 5444043,
 ' Ethinyl Estradiol': 4124207,
 'Sulfamethoxazole': 5425466,
 ' Trimethoprim': 5425466,
 'Esomeprazole': 5204950,
 'Valsartan': 5173072,
 'Insulin Detemir': 5164647,
 'Clindamycin': 5130999,
 'Hydroxychloroquine': 4992835,
 'Methocarbamol': 4981836,
 'Diazepam': 4972397,
 'Semaglutide': 4827483,
 'Dexmethylphenidate': 4802551,
 ' Triamterene': 4783812,
 'Ciprofloxacin': 4759043,
 'Chlorthalidone': 4707841,
 'Rizatriptan': 4667144,
 'Nifedipine': 4657308,
 'Insulin Degludec': 4600262,
 'Norethindrone': 4501968,
 'Risperidone': 4462991,
 'Olmesartan': 4458453,
 'Morphine': 4384336,
 'Benazepril': 4374519,
 'Meclizine': 4349444,
 'Timolol': 4295412,
 'Oxcarbazepine': 4276699,
 'Drospirenone': 4124207,
 'Liraglutide': 4063184,
 'Dicyclomine': 4060734,
 'Irbesartan': 4028832,
 'Hydrocortisone': 3998412,
 ' Ipratropium': 3967936,
 'Verapamil': 3936378,
 'Memantine': 3928015,
 'Prednisolone': 3894468,
 ' Sitagliptin': 3847462,
 'Nortriptyline': 3815024,
 'Ropinirole': 3776826,
 'Benzonatate': 3689272,
 'Progesterone': 3617743,
 ' Levonorgestrel': 3588502,
 'Mirabegron': 3570676,
 'Methylprednisolone': 3535987,
 'Acyclovir': 3517810,
 'Docusate': 3511398,
 'Olanzapine': 3498182,
 'Nitroglycerin': 3483186,
 'Bimatoprost': 3483064,
 'Nitrofurantoin': 3456512,
 'Pioglitazone': 3443215,
 ' Benazepril': 3434363,
 'Ketoconazole': 3417349,
 'Clobetasol': 3395469,
 'Testosterone': 3359583,
 'Azelastine': 3334304,
 'Fluconazole': 3308929,
 'Brimonidine': 1661947,
 'Desvenlafaxine': 3267575,
 'Ranitidine': 3260051,
 'Oseltamivir': 3185814,
 'Levocetirizine': 3108431,
 'Anastrozole': 3090061,
 'Phentermine': 3071041,
 'Sucralfate': 2971604,
 'Sildenafil': 2963291,
 'Mesalamine': 2949823,
 'Carbamazepine': 2858880,
 'Buprenorphine': 2850298,
 ' Codeine': 2791617,
 'Flecainide': 2707962,
 'Gemfibrozil': 2679954,
 'Prazosin': 2675264,
 'Lansoprazole': 2623738,
 'Diphenhydramine': 2614773,
 'Pramipexole': 2589438,
 ' Etonogestrel': 2540913,
 'Dorzolamide': 2237619,
 ' Timolol': 1661947,
 'Ramipril': 2466660,
 'Lithium': 2460054,
 'Amiodarone': 2445496,
 'Omega-3-acid Ethyl Esters': 2418806,
 'Glyburide': 2417882,
 ' Butalbital': 2396592,
 ' Caffeine': 2396592,
 'Magnesium Salts': 2384021,
 'Mupirocin': 2373039,
 'Calcium': 2238411,
 'Adalimumab': 2356920,
 'Methimazole': 2344339,
 'Promethazine': 2309125,
 'Doxazosin': 2303044,
 'Labetalol': 2301338,
 'Terazosin': 2285079,
 'Cyclosporine': 2267430,
 'Torsemide': 2257787,
 'Medroxyprogesterone': 2240857,
 ' Vitamin D': 2238411,
 'Dapagliflozin': 2233919,
 'Liothyronine': 2220213,
 'Sacubitril': 2212116,
 ' Valsartan': 1914068,
 'Beclomethasone': 2184209,
 'Insulin Isophane': 2171841,
 'Metronidazole': 2163820,
 'Temazepam': 2143561,
 ' Umeclidinium': 2125887,
 'Erythromycin': 2091152,
 'Polyethylene Glycol 3350': 2069530,
 'Nystatin': 2068647,
 'Cefdinir': 2061206,
 'Benztropine': 2060460,
 'Tretinoin': 2045304,
 'Mometasone': 1954898,
 'Eszopiclone': 1937204,
 'Betamethasone': 1934650,
 'Erenumab': 1929984,
 'Minocycline': 1913971,
 'Digoxin': 1905633,
 ' Metformin': 1891719,
 'Nebivolol': 1889275,
 'Levofloxacin': 1883619,
 'Colchicine': 1876591,
 'Ofloxacin': 1844982,
 'Vortioxetine': 1826351,
 'Linaclotide': 1796463,
 'Umeclidinium': 1668008,
 'Insulin Human': 1755906,
 ' Insulin Isophane Human': 1755906,
 'Ticagrelor': 1752727,
 'Telmisartan': 1750581,
 'Ketorolac': 1750298,
 'Hydromorphone': 1747151,
 'Epinephrine': 1730366,
 'Doxepin': 1721843,
 'Quinapril': 1671490,
 'Fexofenadine': 1665749,
 'Letrozole': 1654579,
 'Ranolazine': 1651335,
 'Lurasidone': 1646183,
 'Phenytoin': 1616629,
 'Tadalafil': 1615968,
 'Pancrelipase Amylase': 1607847,
 ' Pancrelipase Lipase': 1607847,
 ' Pancrelipase Protease': 1607847,
 'Dexlansoprazole': 1576633,
 'Isotretinoin': 1572313,
 'Sodium Fluoride': 1559305,
 'Solifenacin': 1479169,
 'Bisoprolol': 1205616,
 'Olopatadine': 1459567,
 'Primidone': 1404364,
 'Bumetanide': 1383116,
 'Tolterodine': 1366267,
 'Dexamethasone': 1237556,
 'Chlorhexidine': 1344170,
 'Sodium Salts': 1336355,
 'Varenicline': 1333643,
 'Zonisamide': 1316716,
 'Calcitriol': 1300156,
 'Emtricitabine': 1299708,
 ' Tenofovir Disoproxil': 1299708,
 'Terbinafine': 1286843,
 'Fluocinonide': 1282149,
 ' Olmesartan': 1263816,
 'Ziprasidone': 1262673,
 'Estrogens, Conjugated': 1248465,
 'Sulfasalazine': 1239553,
 'Icosapent Ethyl': 1238694,
 ' Moxifloxacin': 1237556,
 'Atomoxetine': 1225655,
 'Formoterol': 1218644,
 ' Mometasone': 1218644,
 'Ketotifen': 1207445,
 ' Hydrochlorothiazide': 1205616,
 'Sennosides': 1199554,
 'Raloxifene': 1193739,
 'Linagliptin': 1168073,
 'Canagliflozin': 1143266,
 'Alogliptin': 1141082,
 'Sotalol': 1121291,
 'Potassium Citrate': 1107473,
 'Melatonin': 1090897,
 'Isosorbide Dinitrate': 1084169,
 'Guanfacine': 1082830}

In [6]:
from sqlalchemy import create_engine
import pandas as pd

In [7]:
# Connect to DB
engine = create_engine('postgresql://meditreats:meditreats@df-treats-db.cs6hxh6ocizm.us-west-2.rds.amazonaws.com:5432/meditreats')
connection = engine.connect()

In [8]:
query = '''SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE 
   table_name = \'treatments\''''
[print(row)  for row in engine.execute(query)]

('treatments', 'id', 'integer')
('treatments', 'name', 'character varying')
('treatments', 'from_study', 'boolean')
('treatments', 'no_studies', 'integer')
('treatments', 'treatmentGroup', 'integer')
('treatments', 'description', 'character varying')
('treatments', 'no_prescriptions', 'integer')

[None, None, None, None, None, None, None]

In [9]:
query = 'SELECT * FROM treatments'

In [10]:
result = engine.execute(query)

# Grab table
df = pd.read_sql(query, engine)

In [11]:
df

,id,name,from_study,no_studies,treatmentGroup,description,no_prescriptions
0,2462,Escitalopram,True,50,None,None,30605646
1,2182,Placebo,True,1,None,None,0
2,143,Risperidone,True,96,None,None,4462991
3,142,Gabapentin,True,96,None,None,49961066
4,141,Bupropion,True,96,None,None,28889368
...,...,...,...,...,...,...,...
13653,13654,Svn53-67,False,-1,None,None,0
13654,13655,Benzyl,False,-1,None,None,0
13655,13656,Nf54,False,-1,None,None,0
13656,13657,Treosulfane,False,-1,None,None,0
13657,13658,Dga,False,-1,None,None,0

In [20]:
count = 0
t_count = 0
inv_map = {v: k for k, v in top_treatments.items()}

# print(inv_map)
for i, row in df.iterrows():
    name = str(row['name'])
    if name.isnumeric():
        print(df.loc[df['id'] == int(name)])
        print(name)
        it = int(name)
        inv_map[it]
        if it in inv_map:
            t_count += 1
            query = 'UPDATE treatments set name={}, no_prescriptions={} where id={}'.format(row['id'], inv_map[row['id']], row['id'])
            # print(query)
        # engine.execute(query)


        count += 1

    # if row['name'] in top_treatments:
    #     count += 1
print(count, t_count)

110

KeyError: 110

In [21]:
# inv_map = {v: k for k, v in top_treatments.items()}
# for i, row in df.iterrows():
#     if row['name'] in inv_map:
#         df.at[i, 'name'] = inv_map[row['name']]
#         count += 1

In [13]:
df

,id,name,from_study,no_studies,treatmentGroup,description,no_prescriptions
0,2462,Escitalopram,True,50,None,None,30605646
1,2182,Placebo,True,1,None,None,0
2,143,Risperidone,True,96,None,None,4462991
3,142,Gabapentin,True,96,None,None,49961066
4,141,Bupropion,True,96,None,None,28889368
...,...,...,...,...,...,...,...
13653,13654,Svn53-67,False,-1,None,None,0
13654,13655,Benzyl,False,-1,None,None,0
13655,13656,Nf54,False,-1,None,None,0
13656,13657,Treosulfane,False,-1,None,None,0
13657,13658,Dga,False,-1,None,None,0

In [14]:
count = 0
for i, row in df.iterrows():
    if row['name'] in top_treatments:
        df.at[i, 'no_prescriptions'] = top_treatments[row['name']]

In [21]:
print(df)

          id          name  from_study  no_studies treatmentGroup description  \
0       2462  Escitalopram        True          50           None        None
1       2182       Placebo        True           1           None        None
2        143   Risperidone        True          96           None        None
3        142    Gabapentin        True          96           None        None
4        141     Bupropion        True          96           None        None
...      ...           ...         ...         ...            ...         ...
13653  13654      Svn53-67       False          -1           None        None
13654  13655        Benzyl       False          -1           None        None
13655  13656          Nf54       False          -1           None        None
13656  13657   Treosulfane       False          -1           None        None
13657  13658           Dga       False          -1           None        None

       no_prescriptions
0              30605646
1                     0
2               4462991
3              49961066
4              28889368
...                 ...
13653                 0
13654                 0
13655                 0
13656                 0
13657                 0

[13658 rows x 7 columns]

In [17]:
filtered_df = df.loc[df['no_prescriptions'] > 1]

In [18]:
filtered_df

,id,name,from_study,no_studies,treatmentGroup,description,no_prescriptions
0,2462,Escitalopram,True,50,None,None,30605646
2,143,Risperidone,True,96,None,None,4462991
3,142,Gabapentin,True,96,None,None,49961066
4,141,Bupropion,True,96,None,None,28889368
5,83,Estradiol,True,131,None,None,11307655
...,...,...,...,...,...,...,...
4282,4274,Mometasone,False,-1,None,None,1954898
4560,4552,Ergocalciferol,False,-1,None,None,14670983
6614,6608,Docusate,False,-1,None,None,3511398
10557,10555,Liothyronine,False,-1,None,None,2220213
10761,10760,Sennosides,False,-1,None,None,1199554

In [19]:
df.to_sql('treatments', connection, index=False, if_exists='replace')